html{
    font-size: 15px;
}
#main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: tomato; */
   
}
.container{
    width: max-content;
    
    flex-wrap: wrap;
}
#header{
    width: 41rem;
    margin: auto;
}
.pointheader{
position:inline;
margin: 1rem 5rem;
width: 10rem;
}
#after{
position: relative;
top: 11rem;
right: 9rem;
}
#comp{
    left: 0rem;
}
.btn1{
    right: 3rem;
}
.btn2{
    bottom: 18rem;
    left: 9rem;
}
.right{
    left: 0rem;
}
.left{
    left: 0rem;
}
#myBtn{
    margin: auto;
    float: none;
    
    position: relative;
    left: 19rem;
    top: 12rem;
}