#main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: tomato;
}
.container{
    width: max-content;
    
    flex-wrap: wrap;
}
#header{
    width: 700px;
    margin: auto;
}
.pointheader{
position:inline;
left: 0rem;
}
#comp{
    left: 0rem;
}